<% projects.each_pair do | key, value | %>
RewriteCond %{QUERY_STRING} ^id=(\w+)$
RewriteRule ^/c?git/<%= key %>.git/commit/$          https://salsa.debian.org/<%= value %>/commit/%1? [last,noescape,redirect=permanent]
RewriteRule ^/c?git/<%= key %>(?:\.git)?(/|/tree/)?$ https://salsa.debian.org/<%= value %>    [last,noescape,redirect=permanent]
RewriteRule ^/git/<%= key %>(?:\.git)?/(.*)          https://salsa.debian.org/<%= value %>/$1 [last,noescape,redirect=permanent]
<% end %>
